.story__our {
    min-height: 620px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
   /*  display: flex;
    justify-content: space-between; */
    &-item_title {
        font-style: normal;
        font-weight: 400;
        font-size: 54px;
        color: #000000;
        span {
            color: #BC9060;
        }
    }
    &-items {
        padding-right: 125px;
    }
    &-item {
        text-align: center;
    }
    &-item_descrp {
        margin-top: 20px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        color: #656363;
    }
    &-item_wrapper {
        display: flex;
        justify-content: space-around;
        .story__our-item_number {
            font-style: normal;
            font-weight: 400;
            font-size: 40px;
            line-height: 54px;
            text-align: center;
            color: #BC9060;
        }
        .story__our-item_name {
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 27px;
            text-align: center;
            color: #000000;
        }
    }
    &-item_wrap {
        padding-top: 40px;
    }
    .story_images {
        position: relative;
    }
    &-items_images {
        position: absolute;
    }
}

.story_image_01 {
    left: 0;
    top: 15px;

}
.story_image_02 {
    top: -20px;
    left: 200px;
}
.story_image_03 {
    right: 0;
    top: 175px;
}

.story__footer {
    background: url(../images/story_bc.png) no-repeat center ;
    background-size: cover;
    min-height: 357px;
    &-wrapper {
        display: flex;
        justify-content: space-around;
        align-items:center;
    }
    &_wrap {
        width: 601px;
        margin: 0 auto;
    }
    &-title {
        margin-top: 80px;
        font-style: normal;
        font-weight: 400;
        font-size: 52px;
        line-height: 60px;
        color: #D67E34;
    }
    &-subtitle {
        margin-top: 20px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 33px;
        color: #FFFFFF;
    }
    &_btn {
        margin: 0 auto;
        @include btn_main;
    }
    &_btn:hover, &_btn:active, &_btn:focus {
        background: #974400;
        transition: 1s;
    }
}




